anthropic~=0.21.3
beautifulsoup4~=4.12.3
duckduckgo-search~=5.1.0
dynaconf~=3.2.4
google-api-python-client~=2.123.0
google-generativeai~=0.4.1
gradio==4.23.0
mistralai~=0.1.6
openai~=1.14.3
requests~=2.31.0
tqdm~=4.66.2